body, a, p, div {
  background-color: black;
  color: rgb(206, 206, 206);
  font-family: 'Source Code Pro', monospace;
}
a {
  text-decoration: none;
  
}


a:hover {
    color: #f50057;

    /* old rgb(156, 0, 0) */
}

.synthToolButton:hover {
  color: #f50057;
  text-decoration: none;
}

.header {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  
}
.headerLogo {
 position: absolute;
 margin-top: 6px;
 left: 48%;
 transform: translate(-50%);
 display: inline-block;
}

.headerContent {
  
  margin-top: 7px;
  min-height: 38px;
  width: 100%;
}

.userName {
  margin-right: 10px;
  top: 1px;
  margin-left: 9px;
  position: relative;
  color: #f50057;
}

.floatLeftMenu {
  position: relative;
  display: inline;
  float: left;
  left: 20px;
}

.floatRightMenu {
  position: relative;
  display: inline;
  float: right;
  margin-right: 20px;
}

.inline {
  position: relative;
  display: inline;
  margin-left: 7px;
}

@media (max-width: 600px) {
  .headerLogo {
    display: none;
  }

  /* .video-container {
    position: relative;
    display: block;
    width: 100%;
  } */

  .remote-video {
    width: 100%;
    position: absolute;
    display: block;
    display: none;
  }

  .local-video {
    width: 100%;
  }
}

.video-container {
  position: relative;
  z-index: 12;
  top: 0px;
  right: 10px;
  display: block; 
  height: 240px;
  width: 100%;
  display: none;
  /* transform: translate(-50%,-50%); */
}

.remote-video {
  z-index: 10;
  position: absolute;
  
  width: 20%;
  float: right;
  right: 1%;
  top: -20px;

  margin: 10px;
  border-radius: 7px;
  /* box-shadow: 0 1px 7px #ccc; */
  background-clip: padding-box;
  border: 3px solid #ccc;

}

hr { border-color: inherit }

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.formContent {
  position: relative;
  width: 20%;
}

.local-video {

  z-index: 14;
  position: relative;
  width: 200px;
  float: right;
  display: block;
  right: 1%;
  /* min-height: 200px; */
  
  /* top: 0px; */

  margin: 10px;
  border-radius: 7px;
  /* box-shadow: 0 1px 7px #ccc; */
  background-clip: padding-box;
  border: 3px solid #ccc;

  /* position: absolute;
  
  width: 400px;

  margin: 10px;
  border-radius: 7px;
  box-shadow: 0 1px 7px #ccc;
  background-clip: padding-box;
  border: 3px solid #ccc;
  left:50%;
  transform: translate(-50%); */
}

.synthToolbox {
  position: relative;
  display: block;
  overflow: visible;
  margin-top: 1%;
  margin-bottom: 1%;
  
  z-index: 10;
}

.synthToolboxHost {
  position: relative;
  z-index: 13;
  
  
  display: inline;
  overflow: visible;
  margin-top: 1%;
  margin-bottom: 1%;
  min-height: 200px;
  z-index: 10;
}

.synthToolButton {

  color: rgb(206, 206, 206);
  background-color: black;
  
  padding: 10px;
  margin: 10px;
  /* border: 1px solid white;
  border-radius: 5px;
  box-shadow: 3px 3px white; */
  border-radius: 3px;
  box-shadow: 0 1px 5px #ccc;
  background-clip: padding-box;
  border: 1px solid #ccc;
}


.nudgeLeft {
  position: relative;
  left: -20px;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.keys-container {
  position: relative;
  display: block;
  /* top: -150px; */
  z-index: 15;
  height: 120px;
  width: 75%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:10px;
  margin-bottom: 20px;
 
}

.keys-containerLocal {
  position: relative;
  display: block;
  height: 120px;
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:10px;
  margin-bottom: 20px;
 
}

@media (max-width: 1000px) {

  .keys-container {
    position: relative;
    height: 120px;
    width: 1000px;
    
    margin-top:10px;
    margin-bottom: 20px;
    
  }
}