body, a, p, div {
  background-color: black;
  color: rgb(206, 206, 206);
  font-family: 'Source Code Pro', monospace;
}

.header {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  overflow: hidden;
}
.headerLogo {
 position: absolute;
 left: 50%;
 transform: translate(-50%);
 display: inline-block;
}

/* .headerContent {
  display: inline-block;
  
} */



@media (max-width: 600px) {
  .headerLogo {
    display: none;
  }

  .remove-video {
    width: 100%;
  }

  .local-video {
    width: 100%;
  }
}

/* .video-container {
  position: relative;
  display: block;
} */

.remote-video {
  position: absolute;
  width: 400px;

  margin: 10px;
  border-radius: 7px;
  box-shadow: 0 1px 7px #ccc;
  background-clip: padding-box;
  border: 3px solid #ccc;
  left:50%;
  transform: translate(-50%);
}

.local-video {
  position: absolute;
  
  width: 400px;

  margin: 10px;
  border-radius: 7px;
  box-shadow: 0 1px 7px #ccc;
  background-clip: padding-box;
  border: 3px solid #ccc;
  left:50%;
  transform: translate(-50%);
}

.synthToolbox {
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
}

.synthToolButton {

  color: rgb(206, 206, 206);
  background-color: black;
  
  padding: 10px;
  margin: 10px;
  /* border: 1px solid white;
  border-radius: 5px;
  box-shadow: 3px 3px white; */
  border-radius: 3px;
  box-shadow: 0 1px 5px #ccc;
  background-clip: padding-box;
  border: 1px solid #ccc;
}


.synthToolButton:hover {
  /* background-color: darkred;  */
  color: rgb(156, 0, 0);;
  /* background-color: white; */
  /* border: 1px solid black; */
}


/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.keys-container {
  height: 120px;
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:10px;
  margin-bottom: 20px;
 
}

@media (max-width: 1000px) {

  .keys-container {
    position: relative;
    height: 120px;
    width: 1000px;
    
    margin-top:10px;
    margin-bottom: 20px;
    
  }
}